<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Data Caching", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("10 Seconds", "Index", "Time")</li>
                    <li>@Html.ActionLink("VaryByParam", "VaryByParam", "Time")</li>
                    <li>@Html.ActionLink("Client", "ClientCache", "Time")</li>
                    <li>@Html.ActionLink("Server", "ServerCache", "Time")</li>
                    <li>@Html.ActionLink("Invalidate", "ClearServerCache", "Time")</li>
                    <li>@Html.ActionLink("Profile15Sec", "Profile15Sec", "Time")</li>
                    <li>@Html.ActionLink("ViewWithPartial", "ViewWithPartial", "Time")</li>
                    <li>@Html.ActionLink("Data Cache", "DataCache", "Time")</li>
                    <li>@Html.ActionLink("Invalidate", "InvalidateCache", "Time")</li>
                    <li>@Html.ActionLink("Cached Files", "Index", "Files")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ASP.NET Data Caching Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
