@model IEnumerable<CarDealer.Models.ViewModels.Parts.AddPartSupplierVm>
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("Name")
        @Html.Editor("Name", new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        @Html.Label("Price")
        @Html.Editor("Price", new { htmlAttributes = new { id = "price", type = "number", step = "0.1", @class = "form-control" } })
    </div>
    <div class="form-group">
        @Html.Label("Quantity")
        @Html.Editor("Quantity", new { htmlAttributes = new { id = "Quantity", type = "number", @class = "form-control" } })
    </div>
    <div class="form-group">
        @Html.Label("Supplier")
        @Html.DropDownList("supplierId", new SelectList(Model, "Id", "Name"), new { @class = "form-control", id = "Supplier" })
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="form-control" />
    </div>
}

